html
{
    justify-content: center;
    text-align: center;
    background-color: darkslategray;
    color: white;
}

.error
{
    color: red;
    font-weight: bold;
}

.success
{
    color: green;
    font-weight: bold;
}