html
{
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.error
{
    color: red;
    font-weight: bold;
}

.success
{
    color: green;
    font-weight: bold;
}